body{
	font: 16px Garamond, serif;
	padding: 0.5em 2em;
}
.error{
	background: #FCC;
	padding: 10px;
	border: 2px solid #F99;
	text-align: center;
}
#loadError{
	display: none;
}
#loadError.visible{
	display: block;
}

li ul li, p{
	page-break-inside: avoid;
}
h1, h2, h3, h4 {
	page-break-after: avoid;
	margin: 1em 0;
}
h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }
h3{
	font-size: 1.1em;
	font-weight: normal;
}
h4{
	font-size: 1em;
	font-style: italic;
	margin-bottom: 0.25em;
	padding-bottom: 0.25em;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
}
p{
	margin: 0.5em 0;
}
h1+p, h2+p, h3+p, h4+p{
	margin-top: 0;
}
a{
	color: black;
}
a:visited{
	color: #005;
}
#resume > ul,
#resume > ul{
	margin: 0.5em 0;
	padding-left: 1em;
}
#resume > ul > li,
#resume > ul > li > ul > li{
	list-style: none;
}
.times{
	font-size: 0.8em;
	font-weight: normal;
	vertical-align: middle;
}
#resume{
	margin: 0 auto;
	max-width: 50em;
}
#info{
	border-bottom: 1px solid #CCC;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#info > h1 {
	margin: 0.5em 0;
}
#contact {
	text-align: center;
	margin: 0.3em;
}
#contact span, #environments li, #meetups li, #conferences li, #mailingLists li{
	display: inline-block;
	margin: 0.4em;
}
#meetups li, #conferences li{
	padding: 0.5em;
}
#conferences .location{
	color: #444;
	font-size: 0.9em;
}
#footer{
	text-align: center;
	margin-top: 2em;
	font-size: 0.8em;
	border-top: 1px solid #CCC;
	padding-top: 1em;
	color: #555;
}

@media (max-width: 450px) {
	#info {
		flex-direction: column;
	}
}
